# This is a template for your project's environment variables.
# 1. Create a copy of this file in the same directory and name it ".env"
# 2. Get the secret values from the team maintainer.
# 3. The .env file is ignored by Git and will remain private to you.

# The private Google Drive link to our shared data folder
# This folder contains project_data_clean.parquet and images.zip
DATA_DRIVE_URL="YOUR_SHARED_DRIVE_LINK_HERE"

# A Hugging Face token for downloading models without rate limits
HF_TOKEN="YOUR_HUGGINGFACE_TOKEN_HERE"